<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<!--hi.html 파일에에서 타임리프 템플릿을 사용하겠다 = 템플릿 문법을 사용하겠다.-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hi template file</h1>
    <p th:text="${name}">코딩온</p>
    <p th:text="${key}">새싹</p>
<!--    th:text-->
    <p th:text="${name2}"></p>
    <p th:utext="${name2}"></p>
    <!--    th:text = 전달받은 값을 문자열로 보여주는 속성-->
    <!--    th:utext = 전달받은 값을 html로 보여주는 속성-->
    <br />
    <h6>th:value = 요소의 value 값을 설정할 때 사용되는 속성</h6>
    <input type="text" th:value="${name}" />
    <button th:value="${name}"></button>

    <h5>th:with = 템플릿 내에서 변수를 지정해 사용할 때 이용</h5>
    <div th:with="temp=${name}" th:text="${tenp}"></div>

    <h5>th:switch = switch-case</h5>
    <div th:switch="${name}">
        <p th:case="'코딩온'">코딩온 입니다</p>
        <p th:case="'새싹'">새싹 입니다</p>
        <p th:case="*">코딩온도 새싹도 아닙니다</p>
<!--        * 은 따옴표 붙이면 문자열 되니까 와일드카드로써 사용이 안되서 안붙이는게 맞다-->
    </div>

    <h5>th:if = 조건문 ( else if 가 없다)</h5>
    <p th:if="${name}=='코딩온'" th:text="${name}"></p>
<!--    name 으로 넘어온 값이 코딩온이라면 그 name 값을 보여줘라-->
    <p th:unless="${name}=='코딩온'" th:text="'손주연'"></p>
<!--        if else 를 처리하고 싶으면 th:if 와 th:unless 는 동일한 조건을 가져야 한다.-->

    <br />
    <h5>실습. Thymeleaf (1)</h5>
    <p th:if="${age < 20}" th:text="${age} + '세는 미성년자입니다.'"></p>
    <p th:unless="${age < 20}" th:text="${age} + '세는 성인입니다.'"></p>

    <h5>th:each</h5>
    <ul>
<!--        반복시킬 주체에 th: each를 걸어주어야한다-->
        <li th:each="item:${item1}">
            <span th:text="${item}"></span>
        </li>
    </ul>
</body>
</html>